<div class="container my-5">
  <div class="card" style="width: 18rem">
    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Image" />
    <div class="card-body">
      <h5 class="card-title">Card Title</h5>
      <p class="card-text">
        This is some quick example text to build on the card title and make up
        the bulk of the card's content. It's a great place to add a description
        or other details.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
